body {
    height: 1000px;
}

.btn-block {
    background-color: grey;
}

button {
    margin: 20px 0;
    width: 100px;
    height: 50px;
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}